.tekstselgit {
  color: rgb(30, 20, 75, 0.96);
  font-size: 24px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.tekstselgit2 {
  color: rgb(30, 20, 75, 0.96);
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

h2{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -12px;
}

.bodyClass{
  background: red;
}