<div class="container-fluid py-3">

<div class="tekstselgit">
  <br>
  Dünaamikat esitavad graafikud
  <br>
  <br>
</div>

<div class="tekstselgit2">
  
  Alljärgneval joonisel näidatakse elujõudu 100 punkti skaalal. Mida suurem on score, seda suurem on elujõud. Mida rohkem on elujõudu, seda rohelisem on värv, mida vähem on elujõudu, seda punasem on värv.  
  <br>
  <br>
</div>

<div class="row mt-5">
  <div class="col-6">
    <div id="chart-gauge"></div>
  </div>

  <div class="tekstselgit2">
    <br>
    Alljärgneval joonisel esitatakse elujõu komponente, nende omavahelist seotust, mudelite hinnanguid sellel teemal, ajaskaalas vms., tuleb täpselt läbi mõelda, sõltub arhitektuurist, praegu näidis.
    <br>
    <br>
  </div>

  <div class="col-6">
    <div id="chart-pie"></div>
  </div>
</div>
<div class="row mt-5">
  <div class="tekstselgit2">
    <br>
    Alljärgneval joonisel esitatakse näitaja aegrida tulpdiagrammina, hektel on näitajaks likviidsus, kuid see on vaid näide, toodetakse hetkel randomiga.
    <br>
    <br>
  </div>
  <div class="col-6">
    <div id="chart-column"></div>
  </div>
  <div class="tekstselgit2">
    <br>
    Alljärgneval joonisel esitatakse näitaja joondiagrammil, kuupäevade lõikes, pühendusega reaalajamajandusele.
    <br>
    <br>
  </div>
  <div class="col-6">
    <div id="chart-line"></div>
  </div>
  <br>
  <br>
  <br>
   
</div>
</div>