<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Roboti lehekülg</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Robot IntelligenciaArtificial 
</div>
<br>
<div class="tekstselgit2">  
Robot IntelligenciaArtificial (lühidalt: Robot IA) on abiks selgitamaks, mis ettevõttega toimub, kuhu ollakse teel ja kust tullakse, millised on ohud jne. Käesoleval alaleheküljel põhjendab robot, miks süsteem on jõudnud ettevõttega seonduvalt ühele või teisele konkreetsele otsusele. <br> <br>

Robot IA kasutamiseks tuleks vajutada nupul, mis huvitab, robot selgitab, mis tal sel teemal öelda on.
</div>
<!--br>
<br-->
<br>
<matrix-chat></matrix-chat>


<br><br><br>
</ion-content>