.varv4 {
  color: rgb(71, 27, 143);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

h3{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

h2{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -12px;
}

.bodyClass1{
  background: rgb(197, 243, 31);
}
.bodyClass2{
  background: red;
}
.bodyClass3{
  background: rgb(54, 214, 54);
}