<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Kuumaks küttev analüüs</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Kastikesed räägivad
</div>
<br>
<div class="tekstselgit2">  
Vaata hoolega, siit alles tuleb analüüs... kõik statistikud imetlevad...</div>
<br>
<!--matrix-prgnrbt></matrix-prgnrbt-->

<!--matrix-miraplace></matrix-miraplace-->
<matrix-miraplace1></matrix-miraplace1>

</ion-content>