<!--p>Ferrypier</p-->


<div class="tekstselgitItal">
  Järelmaks
</div>
<br>
<div class="tekstselgit2">
Ettevõtte maksevõime on otseselt seotud sellega, kuidas laekuvad talle rahad klientide käest. Kliendid võivad olla võlgu arvetähtaegu ületades, kuid klientide võlgnevus võib olla ka n.ö. tinglikult võttes "seaduslik", kui kliendid on saanud järelmaksu võimaluse. Siinkohal ongi oluline vaadata, kas annate klientidele järelmaksu.  Kui te järelmaksu ei anna, siis võtke alltoodud kastist "linnuke" ära.
</div>
<br>

<div id="app">
<label class="container">Järelmaks on / järelmaksu ei ole
<input [(ngModel)]="myProperty" type="checkbox" class="container">
<span class="checkmark"></span>
</label>
</div>
<!--h1>{{ myProperty }} {{ myProperty2() }}</h1-->
{{ myProperty2() }} 

<!--p>Rolling numbers, järelmaksu suurus...<p-->

<!--div id="app">
<label class="container">One
<input type="checkbox" checked="checked">
<span class="checkmark"></span>
</label>
<label class="container">Two
<input type="checkbox">
<span class="checkmark"></span>
</label>
</div-->