<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Konsultandi kaasamine</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Konsultant
</div>
<br>
<div class="tekstselgit2">  
Siin on võimalik arendada konsultandiga vestlust. Konsultant on arukas ja mõistev, teab palju ja on kindlasti toeks kaasa mõtlemas.</div>
<br>
<div class="tekstselgit2">
Alljärgneval nupul klikates on võimalik näha seda lähteinfot, mis konsultandile sai.
</div>
<br>
<matrix-playconsultant></matrix-playconsultant>
<br>
<div class="tekstselgit2">
  Alljärgneval nupul klikates on võimalik näha täiendavat juhtnööri, mida konsultandile andsid.
  </div>
<br>
<matrix-playconsultant2></matrix-playconsultant2>
<br>
<br>
<div class="tekstselgit2">
Siin on nüüd selline põnev võimalus, et konsultandi kätte läinud informatsiooni saab maha salvestada. Tulemuseks tekib PDF fail, mis tähendab sisuliselt korduvkasutatavat (korduvalt saab faili avada ja lugeda) infokandjat arvutis.
</div>
<br>


<matrix-westpromenade></matrix-westpromenade>
<br>
<div class="tekstselgitItal">  
Vestlusnurgake
</div>
<br>
<matrix-tamar [comments]="comments">  
</matrix-tamar>

<!--matrix-tamar></matrix-tamar-->

<!--matrix-tsnwn></matrix-tsnwn-->
</ion-content>