@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.tekstselgit {
  color: rgb(30, 20, 75, 0.96);
  font-size: 24px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.tekstselgit2 {
  color: rgb(30, 20, 75, 0.96);
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

h2{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -12px;
}

.nupp {
  /**padding-left: 20px;**/
  padding: 6px 6px 6px 6px;
  margin: 6px 8px 6px 20px;
  min-width: 272px;
  border-radius: 3px;
  font-size: 14px;
  /**float: left;**/
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color : #f1eaea;
  background-color: rgba(30, 20, 75, 0.96);

}
