<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Täiendav analüüs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<matrix-ratedict></matrix-ratedict>  
<br>

<div class="tekstselgit">  
Maksevõime prognoos
</div>
<br>
<div class="tekstselgit2">  
Alljärgneval joonisel on toodud maksevõime ja käibevahendite prognoos. Prognoosi sisend tuleneb maksevõime mudelist ja selle pinnalt on toodud analüüs nii maksevõime kui ka käibevahendite osas (käibevahendid on maksevõime oluline komponent). Toodud jooned on korrelatsioonis, suurem maksevõime toob kaasa parema positsiooni turul ja seega käibevahendite paranemise.
</div>
<br>
<div class="tekstselgit2">  
  Maksevõime ja käibevahendite arv kuvatakse indeksina, ehk siis 100 baaspunkti skaalasse taandatuna. Nominaalteisenduse saamiseks tuleb esitatud infot võrrelda ettevõtte reaalandmetega.
</div>
<matrix-lichart></matrix-lichart>
<br>
<div class="tekstselgit2">  
  Joonis kuvatakse lähtuvalt sellest hetkest, kui analüütiline hinnang elujõulisusele antakse.
</div>
<br>
<div class="tekstselgit2">  
  Joonisel kuvatavaid suurusi on võimalik legendi pealt välja lülitada, ehk seega kuvada ainult neid amdeid, mis parasjagu huvi pakuvad ja mitte lasta ennast segada teistel andmetel.
</div>
<br>
<div class="tekstselgit2">  
  Joonise paremas nurgas asuvast menüüst on võimalik tehnilisi komponente välja lülitad ja lisada.
</div>
<!--matrix-lichart></matrix-lichart-->
<br>
<div class="tekstselgit2">  
  Ülaltoodud joonisel on näha, kuidas maksevõime ja käibevahendid on omavahelises korrelatsioonis. Maksevõime kasv soodutab ka käibevahendite suurenemist ja vastupidi. Ehk siis ettevõtluses kehtib põhimõte, nagu paljudes muudes valdkondades, et "edu toodab edu."
</div>

<matrix-hichart></matrix-hichart>

<!--matrix-chat></matrix-chat-->
<br><br><br>
</ion-content>