<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Soovitused ja analüüs
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-button routerLink="/subpage2">Täiendav analüüs</ion-button>
	<ion-button routerLink="/subpage2a">Sektori analüüs</ion-button>
	<ion-button routerLink="/subpage2b">Piirkonna analüüs</ion-button>


<br>
<matrix-advice></matrix-advice>
<br>
<matrix-adviceL></matrix-adviceL>
<br>
<matrix-adviceL2></matrix-adviceL2>

<matrix-bchart></matrix-bchart>

<matrix-inxput></matrix-inxput>

<matrix-inxput2></matrix-inxput2>

<matrix-region></matrix-region>

<matrix-kov></matrix-kov>

<matrix-kov2></matrix-kov2>

<matrix-lagunaverde></matrix-lagunaverde>

<br>

<matrix-version></matrix-version>
<!--matrix-culture></matrix-culture-->

</ion-content>