<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Kokkuvõttev seisukoht
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-button routerLink="/subpage">Vaata põhjendust</ion-button>
	<br>

<h2>Ettevõtte elujõulisuse index:</h2>
<br>
  <matrix-sum></matrix-sum>
	<matrix-sumclcktw></matrix-sumclcktw>
	<h2>Kokkuvõtvad seisukohad:</h2>
	
<br>

<matrix-efekt></matrix-efekt>
<matrix-laen></matrix-laen>
<matrix-mksvm></matrix-mksvm>
<matrix-rent></matrix-rent>
<matrix-strukt></matrix-strukt>
<br>
<matrix-graph></matrix-graph>
<br>
<matrix-info></matrix-info>

</ion-content>
<!--div>
<matrix-efekt></matrix-efekt>


</div-->