<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title>
    Prognoos
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button routerLink="/subpagePrgnAnal" color="success">Analüüs
<ion-icon slot="start" name="diamond" ></ion-icon>
</ion-button>
<ion-button routerLink="/subpagePrgnRbt" color="success">Räägi robotiga
<ion-icon slot="start" name="diamond"></ion-icon>
</ion-button>

<br>

<!--h3>Siia siis toodame sisu kolmanda tabi jaoks</h3-->
<br>
<div class="tekstselgit">  
Prognoos
</div>
<br>
<div class="tekstselgit2">  
Kui süsteemi käsutuses on olemas andmed erinevatest perioodidest ja/või süsteemi abil on tehtud mitmeid päringuid, siis saab süsteem selle pealt koostada prognoosi. Tegemist oleks vaatega tulevikku, mis ettevõtet võib "muude tingimuste samaksjäädes" ees oodata.
</div>

<br>
<matrix-autochart></matrix-autochart>

<br>
<br>
<matrix-clientinput></matrix-clientinput>

<br>
<br>
<matrix-easychart></matrix-easychart>
<br>
<br>
<matrix-easychart2></matrix-easychart2>
<br>
<!--matrix-flash></matrix-flash-->



</ion-content>