
<hr style="width:100%;background-color:rgb(93, 96, 113);height: 10px; margin-bottom: 0px">
<div class="body">
<div class="vera-button">
<section>
<button routerLink="/subpageVeraRobot">disainRobot</button>
<button routerLink="/subpageVeraCard">disainCard</button>
<button>disainSum</button>
<button mat-button color="warn">disainGrph</button>
<!--button mat-button disabled>Disabled</button-->
</section>
</div>
</div>

<hr />
<!--div class="hostcontext"-->
<hr style="width:100%;background-color:rgb(93, 96, 113);height: 10px; margin-top:-18px">
<p>vabattekst</p>
<!--/div-->


<hr class="style13">
bla
<br>
<hr class="style14">
<hr class="style13a">
<div class="nihutame">
<p>Väike disain ei tule kahjuks... disaineril läheb aega, tuleb ise teha...</p>
</div>
<hr class="style13b">

<hr class="style13a1">

<p>Veeral on veel põnevaid värve...</p>

<hr class="style13b1">

<br>

<hr class="style-five">
