
<div class="tekstselgitItal">
Klientide olemus
</div>
<br>
<div class="tekstselgit2">
Ettevõtte majanduslik olukord on otseselt seotud sellega, kui palju tal on kliente. Kliendid on need, kes toovad ettevõttele raha sisse ja tagavad ettevõtte võimekuse turul. Allpool saad soovi korral anda masinale mõtlemiseks, mis juhtub siis, kui klientide arv muutub.
</div>
<br>
<div class="tekstselgit4">
Klientide arvu suurenemine aastas:
</div>

<!--div-->


<input type="number" [(ngModel)]="numberValue" class="container">

<div class="tekstselgit3">
Klientide arv kasvab: <strong>{{ numberValue }} klienti</strong>
</div>
<!--/div-->
<br>

<div class="tekstselgit4">
Klientide arv praegu:
</div>

<input type="number" [(ngModel)]="numberValue2" class="container">

<div class="tekstselgit3">
Õige klientide arv praegu: <strong>{{ numberValue2 }} klienti</strong>
</div>

<br>

<div class="tekstselgit4">
Kliendi keskmine tulu kuus (EUR):
</div>

<input type="number" [(ngModel)]="numberValue3" class="container">

<div class="tekstselgit3">
Kliendi keskmine tulu: <strong>{{ numberValue3 }} EUR</strong>
</div>

<br>

<div class="tekstselgit4">
Rahulolevate/korduvate klientide osakaal (%):
</div>

<input type="number" [(ngModel)]="numberValue4" class="container">

<div class="tekstselgit3">
Rahul kliente: <strong>{{ numberValue4 }} %</strong>
</div>


<br>

{{ll()}}
<br>
<br>