.varv2 {
  color: rgb(71, 27, 143);
  font-size: 15px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -32px;
}

h2{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -12px;
}


.an-1 {
  font-weight: 900;
  font-size: 18px;
  color: rgb(66, 102, 219);
  
}

.an-1 .letter {
  display: inline-block;
  line-height: 1em;
}