
<div class="varv2">
  <!--div>Number ln: {{numberln}}</div-->
  <!--div>Liidetud suurus: {{ numberxxx }}</div-->
  <!--div>Koondstring: {{ koondstring }}</div-->
  <!--div>Katsetus: {{ lisa }} </div-->
  <!--br-->
  <!--div class="typing-demo">Lähteolukord: {{ tekstiloome() }}</div-->
   
  <!--div>{{strFunction(muutujaX*0.2)}}</div-->
</div>

<!--div>
  <br>
  
</div-->

<!--h3 class="an-1">{{text2}}</h3-->
<br>
<h2>Soovitus:</h2>

<h3 class="an-1">{{ tekstiloome3() }}</h3>


<!--div class="wrapper">
  <div class="typing-demo">
    This is a typing demo.
  </div>
</div-->


<!--div class="wrapper"-->
  <!--div class="typing-demo">
    {{ naidis }}
  </div-->
<!--/div-->


<div [ngClass] ="{'bodyClass2':flagstr ==2 ,'bodyClass1':flagstr ==3, 'bodyClass3':flagstr ==4}" > <br>
  
</div>