<h2>Read Local JSON file data using typescript import</h2>
<table id="employees">
	<tr>
		<th>ID</th>
		<th>Kood</th>
		<th>Nimi</th>
	</tr>
	<tr *ngFor="let kovid of kovData.kov">
		<td>{{kovid.id}}</td>
		<td>{{kovid.kood}}</td>
		<td>{{kovid.kovNimi}}</td>
	</tr>
</table>

<table id="employees">
<tr>
	<th>ID</th>
	<th>Kood</th>
	<th>Nimi</th>
</tr>
<tr *ngFor="let kovid2 of kovArray">
	<td>{{kovid2.id}}</td>
	<td>{{kovid2.kood}}</td>
	<td>{{kovid2.kovNimi}}</td>
</tr>
</table>




