<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Täiendav analüüs / kliendisisend</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Täiendava sisendi pinnalt tehtud analüüs
</div>
<br>
<div class="tekstselgit2">  
Käesoleval leheküljel on võimalik näha analüüsi, mis lähtub ühelt poolt sellest, mida masinõppe mudelid on ettevõtte kohta arvanud ja sellele on lisatud need elemendid/sisendid, mida kasutajapoolselt on süsteemi sisestatud. 
<br> <br>
Esimeses järjekorras kuvatakse lähteseis, ehk siis see informatsioon, mida masin andis ettevõtte kohta algse hinnanguna. Sealt edasi leiab aset analüütiliste seisukohtade ja hinnangute andmine vastavalt sellele, mida kasutaja on sisestanud. 
<br> <br>
Alljärgneval nupul klikates on võimalik näha lähteseisu kirjeldust.
</div>
<br>
<matrix-play></matrix-play>

<br>
<div class="tekstselgit2"> 
Alljärgnevalt on võimalik vaadata, kas käesolevas analüüsis tekib eelnevalt masina poolt antud hinnangu ja kasutaja poolt täiendavalt sisestatud info põhjal lahendusi/ettepanekuid, mida kasutada.
</div>
<br>

<div class="tekstselgit2">
Siin on võimalik näha kohustustega seotud lahendust/arvamust.
</div>

<matrix-flashcard></matrix-flashcard>

<div class="tekstselgit2">
Siin on võimalik näha efektiivsuse ja rentaablusega seotud mõttekesi.
</div>

<matrix-flashislline></matrix-flashislline>

</ion-content>