<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Kaebus-Tagasiside</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Kaebuse esitamine
</div>
<br>
<div class="tekstselgit2">  
Tagasisidestus teeb alati asja paremaks...</div>
<br>
<!--matrix-prgnrbt></matrix-prgnrbt-->

<!--input type="text" placeholder="Enter Your Name" [(ngModel)]="name">

<button (click)="openModal()">Choose</button> &nbsp;

<span *ngIf="food">Your Fav :  {{food}}</span-->


<matrix-complaintlamtin></matrix-complaintlamtin>

</ion-content>