<p>Liidame x ja y: {{ calculationMaksevoimeComp() }}</p>

<p>Väljastatav seisukoht: {{ calculationMaksevoimeComp2() }}</p>


<p>Siia teeme tabeli, kus on mudeli maksevõime, valla keskmine maksevõime, valla min ja max, näitaja % - siis on analüüttiline ja ka hea näha, kas töötab õigesti</p>


<table id="starferry">
	<tr>
		<th>Maksevõime mudel</th>
		<th>Kood</th>
		<th>Nimi</th>
	</tr>
	<tr>
		<td>{{maksevoimeVald}}</td>
		<td>{{numbermksv}}</td>
		<td>{{miinimumnaitaja}}</td>
	</tr>
</table>